/* Styling af navbaren, så den ligger øverst på hjemmesiden. */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /*til Safari*/
    position: sticky;
    top: 5px;
    z-index: 5;
}
  
li.nav-item {
    float: left;
}
  
li a.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a.navbar-link:hover {
    background-color: #195473;
}

.active {
    background-color: #0a9eda;
}

  